body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    box-sizing: border-box;
}

button {
    background-color: rgb(152, 152, 219);
    padding: 10px 0px;
    border: 0px;
    border-radius: 10px;
    flex: 1;
}

.calculatorContainer {
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(196, 196, 227);
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 10rem;
}

#screen {
    display: flex;
    background-color: rgb(75, 75, 163);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    justify-content: flex-end;
}

.row {
    display: flex;
}

.calculatorContainer,
.row {
    gap: 7px;
}

#allClear,
#equals {
    flex: 2;
}