body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    --primaryBackground: rgb(53, 53, 127);
    --buttonBackground: rgb(139, 139, 203);
    --buttonBackgroundHover: rgb(170, 170, 213);
    --screenBackground: rgb(151, 151, 207);
    color: white;
}

.lightMode {
    background-color: white;
    --primaryBackground: rgb(196, 196, 227);
    --buttonBackground: rgb(152, 152, 219);
    --buttonBackgroundHover: rgb(139, 139, 210);
    --screenBackground: rgb(75, 75, 163);
    color: black;
}

button {
    background-color: var(--buttonBackground);
    padding: 10px 0px;
    border: 0px;
    border-radius: 10px;
    flex: 1;
    cursor: pointer;
}

button:hover {
    background-color: var(--buttonBackgroundHover);
}

.calculatorContainer {
    padding: 15px;
    border-radius: 20px;
    background-color: var(--primaryBackground);
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 10rem;
}

#screen {
    display: flex;
    background-color: var(--screenBackground);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    justify-content: flex-end;
}

.row {
    display: flex;
}

.calculatorContainer,
.row {
    gap: 7px;
}

#allClear,
#equals {
    flex: 2;
}

#colorScheme {
    font-size: 10px;
}